@import "mixin.scss";

#Organization {
  border-top: 7px solid #f0cd00;
  background-color: #fff;
  position: relative;
  top: -55px;

  h1.ui.header {
    width: 100%;
    margin-top: 25px;
    font-size: 32px;
  }
  .ui.grid {
    .row {
      margin: 0 20px;
      .column {
        .club-level
        {
          margin-top:20px;
        }
        .segment {
          margin: 0 auto;
          h4.ui.header {
            font-size: 18px;
            margin-bottom: 10px;
          }
          p {
            font-size: 16px;
            text-indent: 30px;
            text-align: justify;
          }
        }
      }
    }
  }
}